<div class='px-20 py-6'>
  <div class='grid grid-cols-2'>
    <div class='flex gap-16 items-center'>
      <div>
        <%= image_tag "Logo.webp"  %>
      </div>
      <ul class='flex justify-between items-center gap-10'>
        <li class='cursor-pointer text-indigo-400 font-medium text-md'>Home</li>
        <li class='cursor-pointer text-gray-600 hover:text-indigo-400 font-medium ease-in-out duration-300 text-md'>Shop</li>
        <li class='cursor-pointer text-gray-600 hover:text-indigo-400 font-medium ease-in-out duration-300 text-md relative'>
          Features
          <div class='absolute -top-4 -right-3 text-xs bg-pink-500 text-white font-bold px-1 rounded-md'>HOT</div>
        </li>
        <li class='cursor-pointer text-gray-600 hover:text-indigo-400 font-medium ease-in-out duration-300 text-md'>Blog</li>
        <li class='cursor-pointer text-gray-600 hover:text-indigo-400 font-medium ease-in-out duration-300 text-md'>About</li>
        <li class='cursor-pointer text-gray-600 hover:text-indigo-400 font-medium ease-in-out duration-300 text-md'>Contact</li>
      </ul>
    </div>
    <div>
      <ul class='flex gap-10 justify-end'>
        <li class='cursor-pointer text-gray-600 hover:text-indigo-400 font-medium ease-in-out duration-300 text-md'><i class="fa-solid fa-magnifying-glass"></i></li>
        <li class='cursor-pointer text-gray-600 hover:text-indigo-400 font-medium ease-in-out duration-300 text-md'><i class="fa-solid fa-cart-shopping"></i></li>
        <li class='cursor-pointer text-gray-600 hover:text-indigo-400 font-medium ease-in-out duration-300 text-md'><i class="fa-regular fa-heart"></i></li>
      </ul>
    </div>
  </div>
</div>
