<div class='grid grid-cols-1 lg:grid-cols-2 mt-6'>
  <ul class='flex flex-row gap-x-8 gap-y-2  flex-wrap'>
    <li class='flex justify-center items-center'><a class='text-slate-900 border-b border-b-slate-900'>All Products</a></li>
    <li class='flex justify-center items-center'><a class='text-slate-500 hover:text-slate-900 border-b-0 hover:border-b cursor-pointer hover:border-b-slate-900 duration-300'>Women</a></li>
    <li class='flex justify-center items-center'><a class='text-slate-500 hover:text-slate-900 border-b-0 hover:border-b cursor-pointer hover:border-b-slate-900 duration-300'>Men</a></li>
    <li class='flex justify-center items-center'><a class='text-slate-500 hover:text-slate-900 border-b-0 hover:border-b cursor-pointer hover:border-b-slate-900 duration-300'>Bag</a></li>
    <li class='flex justify-center items-center'><a class='text-slate-500 hover:text-slate-900 border-b-0 hover:border-b cursor-pointer hover:border-b-slate-900 duration-300'>Shoes</a></li>
    <li class='flex justify-center items-center'><a class='text-slate-500 hover:text-slate-900 border-b-0 hover:border-b cursor-pointer hover:border-b-slate-900 duration-300'>Watches</a></li>
  </ul>
  <ul class='flex flex-row gap-4 mt-4 lg:mt-0 lg:justify-end'>
    <li class='border border-slate-400 px-4 py-2 hover:text-white hover:bg-indigo-400 duration-300 ease-in-out rounded-sm cursor-pointer '><i class="fa-solid fa-arrow-down-wide-short mr-2"></i>Filter</li>
    <li class='border border-slate-400 px-4 py-2 hover:text-white hover:bg-indigo-400 duration-300 ease-in-out rounded-sm cursor-pointer '><i class="fa-solid fa-magnifying-glass mr-2"></i>Search</li>
  </ul>
</div>


<div data-controller='modal' class=''>
  <div class='grid md:grid-cols-3 lg:grid-cols-4 gap-8 mt-12'>
    <% 12.times do |i| %>
    <div>
      <div class='overflow-hidden relative flex justify-center group'>
        <%= image_tag "product-0#{i+1}.jpg.webp", class: 'group-hover:scale-110 duration-500 ease-in-out cursor-pointer'%>
        <div class='absolute -bottom-12 group-hover:bottom-8 duration-300 ease-in-out'>
          <button data-action="modal#showModal" class='bg-white text-slate-700 hover:bg-slate-700 hover:text-white rounded-full px-6 py-2 cursor-pointer text-2xl md:text-sm'>Quick View</button>
        </div>
      </div>
      <div class='flex justify-between items-center mt-2'>
        <p class='text-slate-400 hover:text-indigo-400 cursor-pointer text-xl md:text-md'>Esprit Ruffle Shirt</p>
        <i class="fa-regular fa-heart text-slate-400 hover:text-indigo-400 cursor-pointer text-xl md:text-md"></i>
      </div>
      <p class='text-slate-600 mt-2 text-xl md:text-md'>$16.64</p>
    </div>
    <% end %>
  </div>
  <div class='w-full bg-gray-200 bg-opacity-40 fixed z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 hidden duration-300 ease-in-out h-full' data-modal-target="modalDiv">
    <%= render 'UI/modal' %>
  </div>
</div>

<div class='text-center my-12'>
  <button class='uppercase rounded-full px-8 py-3 bg-slate-200 hover:bg-slate-900 hover:text-white duration-300 ease-in-out'>Load More</button>
</div>
